{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>FCS - {{ page_title|default:"FC Saucisse"}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'stats/css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'stats/img/favicon.png' %}"/>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="container mx-auto flex flex-col divide-y divide-slate-50">
        <header class="flex flex-col justify-center items-center justify-content-center lg:flex-row gap-4 lg:gap-16">
            <a href="{% url 'games_list' %}"><img class="h-28" src="{% static 'stats/img/logo.svg' %}" alt="FC Saucisse"></a>
            <h1 class="text-center font-bold text-6xl self-center">Analyseur de jeu</h1>
        </header>

        <nav>
            <div>
                <a href="{% url 'games_list' %}">Parties jouées</a>
                <a href="{% url 'team_stats' %}">Stats d'équipe</a>
            </div>
        </nav>

        <main class="2xl:relative py-8 sm:p-16 flex flex-col place-items-center">
            <div class="flex flex-col place-items-center 2xl:w-4/6">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer>
            <a href="{% url 'admin:index' %}">Administration</a>
        </footer>
        </div>
    </body>
</html>