{% load stats_extra %}

<div class="flex flex-col lg:flex-row divide-y lg:divide-y-0 lg:divide-x divide-slate-50">
{% for team in game.teams %}
    <div class="p-2 grid grid-cols-2 gap-2 justify-items-stretch">
        <span class="font-bold {{ forloop.counter0|yesno:'game-detail-opponent,game-detail-ally' }}">Joueur</span>
        <span class="score-grid font-bold">
            <span>Points</span>
            <span>Kills</span>
            <span>Assists</span>
            <span>Score</span>
        </span>
        {% for player in team.players %}
            <span>{{ player.pseudo }} ({{ player.pokemon|pokemon_display }})</span>
            <span class="score-grid">
                <span>{{ player.scored }}</span>
                <span>{{ player.kills }}</span>
                <span>{{ player.assists }}</span>
                <span class="{{ player.is_mvp|yesno:'game-detail-mvp,' }}">{{ player.result }}</span>
            </span>
        {% endfor %}
    </div>
{% endfor %}
</div>