<!-- page_obj and url_get_encode should be set -->

<div class="w-full text-center pt-2 mt-4">
    <span>
        {% if page_obj.has_previous %}
            <a href="?{{ url_get_encode }}{{ url_get_encode|yesno:"&," }}page=1">&laquo;</a>
            <a href="?{{ url_get_encode }}{{ url_get_encode|yesno:"&," }}page={{ page_obj.previous_page_number }}">&lsaquo;</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{{ url_get_encode }}{{ url_get_encode|yesno:"&," }}page={{ page_obj.next_page_number }}">&rsaquo;</a>
            <a href="?{{ url_get_encode }}{{ url_get_encode|yesno:"&," }}page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
</div>