{% extends 'stats/base.html' %}
{% load stats_extra %}

{% block content %}
<h1>{{ page_title }}</h1>
<div class="p-4 text-center 2xl:absolute 2xl:top-0 2xl:left-0">
    <div class="font-bold mb-2">Filtres</div>
    <form class="flex flex-col justify-center" action="{% url 'team_stats' %}" method="get">
        {{ filter_form }}
        <input class="w-max mx-auto link-like mt-2 bg-transparent" type="submit" value="Appliquer">
        <a href="{% url 'team_stats' %}">Réinitialiser</a>
    </form>
</div>
{% if num_games == 0 %}
    <p class="text-center">Aucune partie enregistrée présentement.</p>
{% else %}
    <h2>Taux de victoires</h2>
    <p>Le taux de victoires par pokémon adverse est calculé avec le nombre de parties gagnées où un pokémon donné apparaît dans l'équipe adverse, divisé par le nombre total de parties jouées où un pokémon donné apparaît dans l'équipe adverse.</p>
    <div class="p-5 flex flex-col gap- md:grid md:grid-cols-5 md:justify-items-center border-2">
        <span class="font-bold md:col-span-5">Taux par pokémon adverse</span>
        {% for stat in per_opponent_winrate%}
            <span class="text-center {% if forloop.first %}text-green-700{% elif forloop.last %}text-red-700{% endif %}">{{ stat.pokemon|pokemon_display }} : {{ stat.winrate|floatformat:1 }}%<br>({{ stat.num_games }} partie{{ stat.num_games|pluralize }})</span>
        {% endfor %}
        <span class="text-center font-bold md:col-span-5">Global : {{ win_percentage|floatformat:1 }}%<br>({{ num_games }} partie{{ num_games|pluralize }})</span>
    </div>

    <h2>Classement d'équipe</h2>
    <p>Les valeurs affichées correspondent aux valeurs moyennes sur toutes les parties.</p>
    <div class="p-5 grid grid-cols-2 gap-2 justify-items-stretch border-2">
        <span class="font-bold">Joueur</span>
        <span class="score-grid font-bold">
            <span>Points</span>
            <span>Kills</span>
            <span>Assists</span>
            <span>Score</span>
        </span>
        {% for player in per_ally_averages %}
            <span><a href="{% url "player_detail" pseudo=player.pseudo %}{{ url_get_encode|yesno:"?," }}{{ url_get_encode }}">{{ player.pseudo }}</a></span>
            <span class="score-grid">
                <span>{{ player.avg_scored|floatformat:0 }}</span>
                <span>{{ player.avg_kills|floatformat:0 }}</span>
                <span>{{ player.avg_assists|floatformat:0 }}</span>
                <span>{{ player.avg_result|floatformat:0 }}</span>
            </span>
        {% endfor %}
    </div>

    <h2>Évolution des performances</h2>
    {% include "stats/time_chart.html" with canvas_id="moving-avg" %}
{% endif %}
{% endblock %}